<h1>Posts</h1>

<%= link_to "New Post", new_post_path  %>

<%  @posts.each do |post| %>
<article class="post">
  <h2 class="post-title"><a href="<%= post.id %>"><%= post.title %></a></h2>
  <div class="post-content">
    <%= post.text %>
  </div>
</article>
<% end %>