<h1>Posts</h1>

<%= link_to "New Post", new_post_path  %>

<% @posts.each do |post| %>
<article class="post">
  <h2 class="post-title"><%= link_to post.title, post %></h2>
  <div class="post-content">
    <%= post.text %>
  </div>
  <small><%= link_to 'Edit post', edit_post_path(post) %></small>
</article>
<% end %>