<!DOCTYPE html>
<html>
<head>
  <title>Evil</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<main class="main-content">
  <%= yield %>
</main>

</body>
</html>
